<a href="https://colab.research.google.com/github/linneasandersen/dalas-project/blob/main/DataCollection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



1.   Get data
- Wikipedia
- OEC
- FAO
2.   Store data in pandas
3. Inspect

In [44]:
import requests
import pandas as pd
from pathlib import Path
import bs4
import lxml
import pandas
import urllib
import kagglehub
import os

from urllib import request

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Countries

In [ ]:
# Countries from kaggle

path = kagglehub.dataset_download("emolodov/country-codes-alpha2-alpha3")

filename = "Country Codes Alpha-2 Alpha-3.csv"

file_path = os.path.join(path, filename)

df_countries = pd.read_csv(file_path)

print(df_countries.head())

Using Colab cache for faster access to the 'country-codes-alpha2-alpha3' dataset.
          country alpha2 alpha3  numeric
0     Afghanistan     AF    AFG        4
1         Albania     AL    ALB        8
2         Algeria     DZ    DZA       12
3  American Samoa     AS    ASM       16
4         Andorra     AD    AND       20

# OEC

In [ ]:
# Define the years to retrieve data for
years = range(1995, 2024)

In [43]:
# Iterate and fetch export data
df_trade = []
url = "https://api-v2.oec.world/tesseract/data.jsonrecords"

for year in years:
    params = {
        "cube": "trade_i_baci_a_92",
        "locale": "en",
        "drilldowns": "Exporter Country Official,Year,HS4",
        "properties": "Exporter Country Official.Exporter Country ISO2",
        "measures": "Trade Value",
        "include": f"Year:{year}"
    }
    r = requests.get(url, params=params)
    try:
        df = pd.DataFrame(r.json()["data"])
        if year == 2000:
            print(r.json())
        df_trade.append(df)
    except KeyError:
        print(f"No data found for export in {year}")


# concatenate
df_trade = pd.concat(df_trade)

print("Finished fetching export data.")

Buffered data was truncated after reaching the output size limit.

In [ ]:
# display data
display(df_trade)
print(df_trade.columns)


# more possibilities for columns, see cubeOECinfo.json

Data set size is order of magnitude 10^6 for both import and export
Currently 6 columns, but more possibilities

## Harmonized system of products

In [ ]:
data_dir = Path("/content/drive/MyDrive/DALAS/data/raw")
data_path_products = data_dir / "hs_product_classification.csv"

In [ ]:
print(data_path_products)
df_HS = pd.read_csv(
    data_path_products,
    sep=';',        # semicolon separator
    quotechar='"'
)
print(df_HS.head())
print(df_HS.columns)

# query where Product Level = HS4
df_HS4 = df_HS[df_HS['Product Level'] == 'HS4']
print(df_HS4.head())
print(df_HS4.shape)

# FAO

In [ ]:
data_dir = Path("/content/drive/MyDrive/DALAS/data/raw")

zip_files = ["Environment_Temperature_change_E_All_Data.zip", "Production_Crops_Livestock_E_All_Data.zip", "Forestry_E_All_Data.zip"]
zip_files = [data_dir / file for file in zip_files]

zip_file = data_dir / "Environment_Temperature_change_E_All_Data.zip"

In [ ]:
from pathlib import Path
from zipfile import ZipFile

for zip_file in zip_files:
  extract_dir = data_dir / "extracted"
  extract_dir.mkdir(parents=True, exist_ok=True)

  # Extract all files
  with ZipFile(zip_file, 'r') as zip_ref:
      zip_ref.extractall(extract_dir)

  print(f"Files extracted to {extract_dir}")

Files extracted to /content/drive/MyDrive/DALAS/data/raw/extracted
Files extracted to /content/drive/MyDrive/DALAS/data/raw/extracted
Files extracted to /content/drive/MyDrive/DALAS/data/raw/extracted

In [ ]:
# Find extracted Excel files
files = list(extract_dir.glob("*.csv"))

for file in files:
    print(file.name)

Production_Crops_Livestock_E_All_Data.csv
Production_Crops_Livestock_E_All_Data_NOFLAG.csv
Production_Crops_Livestock_E_AreaCodes.csv
Production_Crops_Livestock_E_Elements.csv
Production_Crops_Livestock_E_Flags.csv
Production_Crops_Livestock_E_ItemCodes.csv
Environment_Temperature_change_E_All_Data.csv
Environment_Temperature_change_E_Flags.csv
Environment_Temperature_change_E_Elements.csv
Environment_Temperature_change_E_AreaCodes.csv
Environment_Temperature_change_E_All_Data_NOFLAG.csv
Forestry_E_All_Data.csv
Forestry_E_All_Data_NOFLAG.csv
Forestry_E_AreaCodes.csv
Forestry_E_Elements.csv
Forestry_E_Flags.csv
Forestry_E_ItemCodes.csv

In [ ]:
# print columns of all datasets, size of table
for file in files:
    print(file.name)
    if file.name == "Environment_Temperature_change_E_All_Data.csv":
        df_FAO_env = pd.read_csv(file)
    if file.name == "Production_Crops_Livestock_E_All_Data.csv":
        df_FAO_prod = pd.read_csv(file)
    if file.name == "Forestry_E_All_Data.csv":
        df_FAO_forest = pd.read_csv(file)
    df = pd.read_csv(file)
    print(df.shape)
    print(df.columns)
    print("---------------------------------------------------------------------------------")

Production_Crops_Livestock_E_All_Data.csv

/tmp/ipython-input-3814059025.py:7: DtypeWarning: Columns (11,14,17,20,23,26,29,32,35,38,41,44,47,50,53,56,59,62,65,68,71,74,77,80,83,86,89,92,95,98,101,104,107,110,113,116,119,122,125,128,131,134,137,140,143,146,149,152,155,158,161,164,167,170,173,176,179,182,185,188,191,194,197) have mixed types. Specify dtype option on import or set low_memory=False.
  df_FAO_prod = pd.read_csv(file)
/tmp/ipython-input-3814059025.py:10: DtypeWarning: Columns (11,14,17,20,23,26,29,32,35,38,41,44,47,50,53,56,59,62,65,68,71,74,77,80,83,86,89,92,95,98,101,104,107,110,113,116,119,122,125,128,131,134,137,140,143,146,149,152,155,158,161,164,167,170,173,176,179,182,185,188,191,194,197) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)

(78164, 198)
Index(['Area Code', 'Area Code (M49)', 'Area', 'Item Code', 'Item Code (CPC)',
       'Item', 'Element Code', 'Element', 'Unit', 'Y1961',
       ...
       'Y2020N', 'Y2021', 'Y2021F', 'Y2021N', 'Y2022', 'Y2022F', 'Y2022N',
       'Y2023', 'Y2023F', 'Y2023N'],
      dtype='object', length=198)
---------------------------------------------------------------------------------
Production_Crops_Livestock_E_All_Data_NOFLAG.csv
(78164, 72)
Index(['Area Code', 'Area Code (M49)', 'Area', 'Item Code', 'Item Code (CPC)',
       'Item', 'Element Code', 'Element', 'Unit', 'Y1961', 'Y1962', 'Y1963',
       'Y1964', 'Y1965', 'Y1966', 'Y1967', 'Y1968', 'Y1969', 'Y1970', 'Y1971',
       'Y1972', 'Y1973', 'Y1974', 'Y1975', 'Y1976', 'Y1977', 'Y1978', 'Y1979',
       'Y1980', 'Y1981', 'Y1982', 'Y1983', 'Y1984', 'Y1985', 'Y1986', 'Y1987',
       'Y1988', 'Y1989', 'Y1990', 'Y1991', 'Y1992', 'Y1993', 'Y1994', 'Y1995',
       'Y1996', 'Y1997', 'Y1998', 'Y1999', 'Y2000', 'Y2001', 'Y2002', 'Y2003',
       'Y2004', 'Y2005', 'Y2006', 'Y2007', 'Y2008', 'Y2009', 'Y2010', 'Y2011',
       'Y2012', 'Y2013', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018', 'Y2019',
       'Y2020', 'Y2021', 'Y2022', 'Y2023'],
      dtype='object')
---------------------------------------------------------------------------------
Production_Crops_Livestock_E_AreaCodes.csv
(245, 3)
Index([' Area Code', ' M49 Code', ' Area'], dtype='object')
---------------------------------------------------------------------------------
Production_Crops_Livestock_E_Elements.csv
(20, 2)
Index([' Element Code', ' Element'], dtype='object')
---------------------------------------------------------------------------------
Production_Crops_Livestock_E_Flags.csv
(5, 2)
Index([' Flag', ' Description'], dtype='object')
---------------------------------------------------------------------------------
Production_Crops_Livestock_E_ItemCodes.csv
(307, 3)
Index([' Item Code', ' CPC Code', ' Item'], dtype='object')
---------------------------------------------------------------------------------
Environment_Temperature_change_E_All_Data.csv
(9656, 136)
Index(['Area Code', 'Area Code (M49)', 'Area', 'Months Code', 'Months',
       'Element Code', 'Element', 'Unit', 'Y1961', 'Y1961F',
       ...
       'Y2020', 'Y2020F', 'Y2021', 'Y2021F', 'Y2022', 'Y2022F', 'Y2023',
       'Y2023F', 'Y2024', 'Y2024F'],
      dtype='object', length=136)
---------------------------------------------------------------------------------
Environment_Temperature_change_E_Flags.csv
(2, 2)
Index([' Flag', ' Description'], dtype='object')
---------------------------------------------------------------------------------
Environment_Temperature_change_E_Elements.csv
(2, 2)
Index([' Element Code', ' Element'], dtype='object')
---------------------------------------------------------------------------------
Environment_Temperature_change_E_AreaCodes.csv
(284, 3)
Index([' Area Code', ' M49 Code', ' Area'], dtype='object')
---------------------------------------------------------------------------------
Environment_Temperature_change_E_All_Data_NOFLAG.csv
(9656, 72)
Index(['Area Code', 'Area Code (M49)', 'Area', 'Months Code', 'Months',
       'Element Code', 'Element', 'Unit', 'Y1961', 'Y1962', 'Y1963', 'Y1964',
       'Y1965', 'Y1966', 'Y1967', 'Y1968', 'Y1969', 'Y1970', 'Y1971', 'Y1972',
       'Y1973', 'Y1974', 'Y1975', 'Y1976', 'Y1977', 'Y1978', 'Y1979', 'Y1980',
       'Y1981', 'Y1982', 'Y1983', 'Y1984', 'Y1985', 'Y1986', 'Y1987', 'Y1988',
       'Y1989', 'Y1990', 'Y1991', 'Y1992', 'Y1993', 'Y1994', 'Y1995', 'Y1996',
       'Y1997', 'Y1998', 'Y1999', 'Y2000', 'Y2001', 'Y2002', 'Y2003', 'Y2004',
       'Y2005', 'Y2006', 'Y2007', 'Y2008', 'Y2009', 'Y2010', 'Y2011', 'Y2012',
       'Y2013', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018', 'Y2019', 'Y2020',
       'Y2021', 'Y2022', 'Y2023', 'Y2024'],
      dtype='object')
---------------------------------------------------------------------------------
Forestry_E_All_Data.csv
(83157, 197)
Index(['Area Code', 'Area Code (M49)', 'Area', 'Item Code', 'Item',
       'Element Code', 'Element', 'Unit', 'Y1961', 'Y1961F',
       ...
       'Y2020N', 'Y2021', 'Y2021F', 'Y2021N', 'Y2022', 'Y2022F', 'Y2022N',
       'Y2023', 'Y2023F', 'Y2023N'],
      dtype='object', length=197)
---------------------------------------------------------------------------------
Forestry_E_All_Data_NOFLAG.csv
(83157, 71)
Index(['Area Code', 'Area Code (M49)', 'Area', 'Item Code', 'Item',
       'Element Code', 'Element', 'Unit', 'Y1961', 'Y1962', 'Y1963', 'Y1964',
       'Y1965', 'Y1966', 'Y1967', 'Y1968', 'Y1969', 'Y1970', 'Y1971', 'Y1972',
       'Y1973', 'Y1974', 'Y1975', 'Y1976', 'Y1977', 'Y1978', 'Y1979', 'Y1980',
       'Y1981', 'Y1982', 'Y1983', 'Y1984', 'Y1985', 'Y1986', 'Y1987', 'Y1988',
       'Y1989', 'Y1990', 'Y1991', 'Y1992', 'Y1993', 'Y1994', 'Y1995', 'Y1996',
       'Y1997', 'Y1998', 'Y1999', 'Y2000', 'Y2001', 'Y2002', 'Y2003', 'Y2004',
       'Y2005', 'Y2006', 'Y2007', 'Y2008', 'Y2009', 'Y2010', 'Y2011', 'Y2012',
       'Y2013', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018', 'Y2019', 'Y2020',
       'Y2021', 'Y2022', 'Y2023'],
      dtype='object')
---------------------------------------------------------------------------------
Forestry_E_AreaCodes.csv
(285, 3)
Index([' Area Code', ' M49 Code', ' Area'], dtype='object')
---------------------------------------------------------------------------------
Forestry_E_Elements.csv
(8, 2)
Index([' Element Code', ' Element'], dtype='object')
---------------------------------------------------------------------------------
Forestry_E_Flags.csv
(4, 2)
Index([' Flag', ' Description'], dtype='object')
---------------------------------------------------------------------------------
Forestry_E_ItemCodes.csv
(0, 3)
Index([' Item Code', ' CPC Code', ' Item'], dtype='object')
---------------------------------------------------------------------------------

In [ ]:
# prepare to melt
print(df_FAO_env.head())
print(df_FAO_prod.head())
print(df_FAO_forest.head())

   Area Code Area Code (M49)         Area  Months Code    Months  \
0          2            '004  Afghanistan         7001   January
1          2            '004  Afghanistan         7001   January
2          2            '004  Afghanistan         7002  February
3          2            '004  Afghanistan         7002  February
4          2            '004  Afghanistan         7003     March

   Element Code             Element Unit  Y1961 Y1961F  ...  Y2020 Y2020F  \
0          7271  Temperature change   °c  0.792      E  ... -0.622      E
1          6078  Standard Deviation   °c  1.964      E  ...  1.964      E
2          7271  Temperature change   °c -1.750      E  ...  2.565      E
3          6078  Standard Deviation   °c  2.606      E  ...  2.606      E
4          7271  Temperature change   °c  0.483      E  ...  0.647      E

   Y2021 Y2021F  Y2022 Y2022F  Y2023 Y2023F  Y2024 Y2024F
0  0.740      E  2.297      E -2.418      E  4.396      E
1  1.964      E  1.964      E  1.964      E  1.964      E
2  4.235      E  2.357      E  3.478      E  1.161      E
3  2.606      E  2.606      E  2.606      E  2.606      E
4  2.610      E  3.547      E  3.832      E  0.731      E

[5 rows x 136 columns]
   Area Code Area Code (M49)         Area  Item Code Item Code (CPC)  \
0          2            '004  Afghanistan        221          '01371
1          2            '004  Afghanistan        221          '01371
2          2            '004  Afghanistan        221          '01371
3          2            '004  Afghanistan        711          '01654
4          2            '004  Afghanistan        711          '01654

                                                Item  Element Code  \
0                                  Almonds, in shell          5312
1                                  Almonds, in shell          5412
2                                  Almonds, in shell          5510
3  Anise, badian, coriander, cumin, caraway, fenn...          5312
4  Anise, badian, coriander, cumin, caraway, fenn...          5412

          Element   Unit  Y1961  ... Y2020N    Y2021  Y2021F Y2021N    Y2022  \
0  Area harvested     ha    0.0  ...    NaN  36862.0       A    NaN  36462.0
1           Yield  kg/ha    NaN  ...    NaN   1743.2       A    NaN   1742.0
2      Production      t    0.0  ...    NaN  64256.0       A    NaN  63515.0
3  Area harvested     ha    NaN  ...    NaN  25357.0       E    NaN  25403.0
4           Yield  kg/ha    NaN  ...    NaN    705.0       E    NaN    704.0

   Y2022F Y2022N    Y2023  Y2023F Y2023N
0       A    NaN  37000.0       A    NaN
1       A    NaN   1810.8       A    NaN
2       A    NaN  67000.0       A    NaN
3       E    NaN  25439.0       E    NaN
4       E    NaN    704.0       E    NaN

[5 rows x 198 columns]
   Area Code Area Code (M49)         Area  Item Code  \
0          2            '004  Afghanistan       1659
1          2            '004  Afghanistan       1659
2          2            '004  Afghanistan       1877
3          2            '004  Afghanistan       1877
4          2            '004  Afghanistan       1861

                                              Item  Element Code  \
0          Wood and paper products (export/import)          5622
1          Wood and paper products (export/import)          5922
2  Primary wood and paper products (export/import)          5622
3  Primary wood and paper products (export/import)          5922
4                                        Roundwood          5516

        Element      Unit      Y1961 Y1961F  ...  Y2020N      Y2021 Y2021F  \
0  Import value  1000 USD        NaN    NaN  ...     NaN   135802.0      E
1  Export value  1000 USD        NaN    NaN  ...     NaN     1896.0      E
2  Import value  1000 USD        NaN    NaN  ...     NaN    82436.0      E
3  Export value  1000 USD        NaN    NaN  ...     NaN      917.0      E
4    Production        m3  1354291.0      E  ...     NaN  3755045.0      E

   Y2021N      Y2022 Y2022F  Y2022N      Y2023 Y2023F  Y2023N
0     NaN    66087.0      E     NaN    93011.0      E     NaN
1     NaN     1086.0      E     NaN      649.0      E     NaN
2     NaN    48206.0      E     NaN    74853.0      E     NaN
3     NaN      844.0      E     NaN      280.0      E     NaN
4     NaN  3791602.0      E     NaN  3828991.0      E     NaN

[5 rows x 197 columns]

In [ ]:
df_FAOs_processed = []
df_FAOs = [df_FAO_env, df_FAO_prod, df_FAO_forest]

for i in range(3):
  df_FAO = df_FAOs[i]

  if i == 1:
    id_vars = ['Area Code', 'Area Code (M49)', 'Area', 'Element Code', 'Element', 'Unit', 'Item Code', 'Item', 'Item Code (CPC)']
  elif i == 2:
    id_vars = ['Area Code', 'Area Code (M49)', 'Area', 'Element Code', 'Element', 'Unit', 'Item Code', 'Item']
  else:
    id_vars = ['Area Code', 'Area Code (M49)', 'Area', 'Months Code', 'Months', 'Element Code', 'Element', 'Unit']

  # 3. Melt the DataFrame
  # This turns all other columns into rows
  df_melted = df_FAO.melt(id_vars=id_vars, var_name='Year_Flag_Raw', value_name='Value_Raw')

  print("\n--- Step 1: After Melting ---")
  print(df_melted.head())

  # 4. Separate Year and Type (Value vs. Flag)
  # Use regex to extract the 4-digit year
  df_melted['Year'] = df_melted['Year_Flag_Raw'].str.extract(r'(\d{4})')

  # Identify if the original column was a value (e.g., 'Y1961') or a flag (e.g., 'Y1961F')
  df_melted['Type'] = df_melted['Year_Flag_Raw'].apply(lambda x: 'Flag' if x.endswith('F') else 'Value')

  print("\n--- Step 2: After Separating Year and Type ---")
  print(df_melted.head())

  # 5. Pivot the table to create separate 'Value' and 'Flag' columns
  # We group by all the original IDs plus the new 'Year'
  df_FAO_processed = df_melted.pivot_table(
      index=id_vars + ['Year'],  # Group by the original IDs and the new 'Year'
      columns='Type',          # Create new columns from 'Type' (i.e., 'Value' and 'Flag')
      values='Value_Raw',      # Use 'Value_Raw' as the cell values
      aggfunc='first'          # Use 'first' since there's only one value per group
  ).reset_index()

  # Clean up the column names
  df_FAO_processed.columns.name = None

  print("\n--- Final Reshaped DataFrame ---")
  print(df_FAO_processed.head())
  print(df_FAO_processed.shape)

  df_FAOs_processed.append(df_FAO_processed)

print(df_FAOs_processed)

--- Step 1: After Melting ---
   Area Code Area Code (M49)         Area  Months Code    Months  \
0          2            '004  Afghanistan         7001   January
1          2            '004  Afghanistan         7001   January
2          2            '004  Afghanistan         7002  February
3          2            '004  Afghanistan         7002  February
4          2            '004  Afghanistan         7003     March

   Element Code             Element Unit Year_Flag_Raw Value_Raw
0          7271  Temperature change   °c         Y1961     0.792
1          6078  Standard Deviation   °c         Y1961     1.964
2          7271  Temperature change   °c         Y1961     -1.75
3          6078  Standard Deviation   °c         Y1961     2.606
4          7271  Temperature change   °c         Y1961     0.483

--- Step 2: After Separating Year and Type ---
   Area Code Area Code (M49)         Area  Months Code    Months  \
0          2            '004  Afghanistan         7001   January
1          2            '004  Afghanistan         7001   January
2          2            '004  Afghanistan         7002  February
3          2            '004  Afghanistan         7002  February
4          2            '004  Afghanistan         7003     March

   Element Code             Element Unit Year_Flag_Raw Value_Raw  Year   Type
0          7271  Temperature change   °c         Y1961     0.792  1961  Value
1          6078  Standard Deviation   °c         Y1961     1.964  1961  Value
2          7271  Temperature change   °c         Y1961     -1.75  1961  Value
3          6078  Standard Deviation   °c         Y1961     2.606  1961  Value
4          7271  Temperature change   °c         Y1961     0.483  1961  Value

--- Final Reshaped DataFrame ---
   Area Code Area Code (M49)     Area  Months Code   Months  Element Code  \
0          1            '051  Armenia         7001  January          6078
1          1            '051  Armenia         7001  January          6078
2          1            '051  Armenia         7001  January          6078
3          1            '051  Armenia         7001  January          6078
4          1            '051  Armenia         7001  January          6078

              Element Unit  Year Flag  Value
0  Standard Deviation   °c  1992    E  2.802
1  Standard Deviation   °c  1993    E  2.802
2  Standard Deviation   °c  1994    E  2.802
3  Standard Deviation   °c  1995    E  2.802
4  Standard Deviation   °c  1996    E  2.802
(572356, 11)

--- Step 1: After Melting ---
   Area Code Area Code (M49)         Area  Element Code         Element  \
0          2            '004  Afghanistan          5312  Area harvested
1          2            '004  Afghanistan          5412           Yield
2          2            '004  Afghanistan          5510      Production
3          2            '004  Afghanistan          5312  Area harvested
4          2            '004  Afghanistan          5412           Yield

    Unit  Item Code                                               Item  \
0     ha        221                                  Almonds, in shell
1  kg/ha        221                                  Almonds, in shell
2      t        221                                  Almonds, in shell
3     ha        711  Anise, badian, coriander, cumin, caraway, fenn...
4  kg/ha        711  Anise, badian, coriander, cumin, caraway, fenn...

  Item Code (CPC) Year_Flag_Raw Value_Raw
0          '01371         Y1961       0.0
1          '01371         Y1961       NaN
2          '01371         Y1961       0.0
3          '01654         Y1961       NaN
4          '01654         Y1961       NaN

--- Step 2: After Separating Year and Type ---
   Area Code Area Code (M49)         Area  Element Code         Element  \
0          2            '004  Afghanistan          5312  Area harvested
1          2            '004  Afghanistan          5412           Yield
2          2            '004  Afghanistan          5510      Production
3          2            '004  Afghanistan          5312  Area harvested
4          2            '004  Afghanistan          5412           Yield

    Unit  Item Code                                               Item  \
0     ha        221                                  Almonds, in shell
1  kg/ha        221                                  Almonds, in shell
2      t        221                                  Almonds, in shell
3     ha        711  Anise, badian, coriander, cumin, caraway, fenn...
4  kg/ha        711  Anise, badian, coriander, cumin, caraway, fenn...

  Item Code (CPC) Year_Flag_Raw Value_Raw  Year   Type
0          '01371         Y1961       0.0  1961  Value
1          '01371         Y1961       NaN  1961  Value
2          '01371         Y1961       0.0  1961  Value
3          '01654         Y1961       NaN  1961  Value
4          '01654         Y1961       NaN  1961  Value

--- Final Reshaped DataFrame ---
   Area Code Area Code (M49)     Area  Element Code Element Unit  Item Code  \
0          1            '051  Armenia          5111  Stocks   An        866
1          1            '051  Armenia          5111  Stocks   An        866
2          1            '051  Armenia          5111  Stocks   An        866
3          1            '051  Armenia          5111  Stocks   An        866
4          1            '051  Armenia          5111  Stocks   An        866

     Item Item Code (CPC)  Year Flag     Value
0  Cattle          '02111  1992    A  566452.0
1  Cattle          '02111  1993    A  498863.0
2  Cattle          '02111  1994    A  501635.0
3  Cattle          '02111  1995    A  503693.0
4  Cattle          '02111  1996    A  507512.0
(4116252, 12)

--- Step 1: After Melting ---
   Area Code Area Code (M49)         Area  Element Code       Element  \
0          2            '004  Afghanistan          5622  Import value
1          2            '004  Afghanistan          5922  Export value
2          2            '004  Afghanistan          5622  Import value
3          2            '004  Afghanistan          5922  Export value
4          2            '004  Afghanistan          5516    Production

       Unit  Item Code                                             Item  \
0  1000 USD       1659          Wood and paper products (export/import)
1  1000 USD       1659          Wood and paper products (export/import)
2  1000 USD       1877  Primary wood and paper products (export/import)
3  1000 USD       1877  Primary wood and paper products (export/import)
4        m3       1861                                        Roundwood

  Year_Flag_Raw  Value_Raw
0         Y1961        NaN
1         Y1961        NaN
2         Y1961        NaN
3         Y1961        NaN
4         Y1961  1354291.0

--- Step 2: After Separating Year and Type ---
   Area Code Area Code (M49)         Area  Element Code       Element  \
0          2            '004  Afghanistan          5622  Import value
1          2            '004  Afghanistan          5922  Export value
2          2            '004  Afghanistan          5622  Import value
3          2            '004  Afghanistan          5922  Export value
4          2            '004  Afghanistan          5516    Production

       Unit  Item Code                                             Item  \
0  1000 USD       1659          Wood and paper products (export/import)
1  1000 USD       1659          Wood and paper products (export/import)
2  1000 USD       1877  Primary wood and paper products (export/import)
3  1000 USD       1877  Primary wood and paper products (export/import)
4        m3       1861                                        Roundwood

  Year_Flag_Raw  Value_Raw  Year   Type
0         Y1961        NaN  1961  Value
1         Y1961        NaN  1961  Value
2         Y1961        NaN  1961  Value
3         Y1961        NaN  1961  Value
4         Y1961  1354291.0  1961  Value

--- Final Reshaped DataFrame ---
   Area Code Area Code (M49)     Area  Element Code     Element Unit  \
0          1            '051  Armenia          5510  Production    t
1          1            '051  Armenia          5510  Production    t
2          1            '051  Armenia          5510  Production    t
3          1            '051  Armenia          5510  Production    t
4          1            '051  Armenia          5510  Production    t

   Item Code                                               Item  Year Flag  \
0       1600                       Recovered post-consumer wood  2023    A
1       1612  Printing and writing papers, uncoated, mechanical  2002    X
2       1612  Printing and writing papers, uncoated, mechanical  2003    X
3       1612  Printing and writing papers, uncoated, mechanical  2004    X
4       1612  Printing and writing papers, uncoated, mechanical  2005    X

  Value
0   0.0
1   0.0
2   0.0
3   0.0
4   0.0
(2383590, 11)
[        Area Code Area Code (M49)     Area  Months Code               Months  \
0               1            '051  Armenia         7001              January
1               1            '051  Armenia         7001              January
2               1            '051  Armenia         7001              January
3               1            '051  Armenia         7001              January
4               1            '051  Armenia         7001              January
...           ...             ...      ...          ...                  ...
572351       5873            '198     OECD         7020  Meteorological year
572352       5873            '198     OECD         7020  Meteorological year
572353       5873            '198     OECD         7020  Meteorological year
572354       5873            '198     OECD         7020  Meteorological year
572355       5873            '198     OECD         7020  Meteorological year

        Element Code             Element Unit  Year Flag  Value
0               6078  Standard Deviation   °c  1992    E  2.802
1               6078  Standard Deviation   °c  1993    E  2.802
2               6078  Standard Deviation   °c  1994    E  2.802
3               6078  Standard Deviation   °c  1995    E  2.802
4               6078  Standard Deviation   °c  1996    E  2.802
...              ...                 ...  ...   ...  ...    ...
572351          7271  Temperature change   °c  2020    E  1.394
572352          7271  Temperature change   °c  2021    E  1.592
572353          7271  Temperature change   °c  2022    E  1.235
572354          7271  Temperature change   °c  2023    E   1.71
572355          7271  Temperature change   °c  2024    E  2.409

[572356 rows x 11 columns],          Area Code Area Code (M49)  \
0                1            '051
1                1            '051
2                1            '051
3                1            '051
4                1            '051
...            ...             ...
4116247       5817            '902
4116248       5817            '902
4116249       5817            '902
4116250       5817            '902
4116251       5817            '902

                                                     Area  Element Code  \
0                                                 Armenia          5111
1                                                 Armenia          5111
2                                                 Armenia          5111
3                                                 Armenia          5111
4                                                 Armenia          5111
...                                                   ...           ...
4116247  Net Food Importing Developing Countries (NFIDCs)          5513
4116248  Net Food Importing Developing Countries (NFIDCs)          5513
4116249  Net Food Importing Developing Countries (NFIDCs)          5513
4116250  Net Food Importing Developing Countries (NFIDCs)          5513
4116251  Net Food Importing Developing Countries (NFIDCs)          5513

            Element     Unit  Item Code  \
0            Stocks       An        866
1            Stocks       An        866
2            Stocks       An        866
3            Stocks       An        866
4            Stocks       An        866
...             ...      ...        ...
4116247  Production  1000 No       1091
4116248  Production  1000 No       1091
4116249  Production  1000 No       1091
4116250  Production  1000 No       1091
4116251  Production  1000 No       1091

                                                  Item Item Code (CPC)  Year  \
0                                               Cattle          '02111  1992
1                                               Cattle          '02111  1993
2                                               Cattle          '02111  1994
3                                               Cattle          '02111  1995
4                                               Cattle          '02111  1996
...                                                ...             ...   ...
4116247  Eggs from other birds in shell, fresh, n.e.c.           '0232  2019
4116248  Eggs from other birds in shell, fresh, n.e.c.           '0232  2020
4116249  Eggs from other birds in shell, fresh, n.e.c.           '0232  2021
4116250  Eggs from other birds in shell, fresh, n.e.c.           '0232  2022
4116251  Eggs from other birds in shell, fresh, n.e.c.           '0232  2023

        Flag      Value
0          A   566452.0
1          A   498863.0
2          A   501635.0
3          A   503693.0
4          A   507512.0
...      ...        ...
4116247    E  4464004.0
4116248    E  6254689.0
4116249    E  6257105.0
4116250    E  6263398.0
4116251    E  6299404.0

[4116252 rows x 12 columns],          Area Code Area Code (M49)  \
0                1            '051
1                1            '051
2                1            '051
3                1            '051
4                1            '051
...            ...             ...
2383585       5817            '902
2383586       5817            '902
2383587       5817            '902
2383588       5817            '902
2383589       5817            '902

                                                     Area  Element Code  \
0                                                 Armenia          5510
1                                                 Armenia          5510
2                                                 Armenia          5510
3                                                 Armenia          5510
4                                                 Armenia          5510
...                                                   ...           ...
2383585  Net Food Importing Developing Countries (NFIDCs)          5922
2383586  Net Food Importing Developing Countries (NFIDCs)          5922
2383587  Net Food Importing Developing Countries (NFIDCs)          5922
2383588  Net Food Importing Developing Countries (NFIDCs)          5922
2383589  Net Food Importing Developing Countries (NFIDCs)          5922

              Element      Unit  Item Code  \
0          Production         t       1600
1          Production         t       1612
2          Production         t       1612
3          Production         t       1612
4          Production         t       1612
...               ...       ...        ...
2383585  Export value  1000 USD       5225
2383586  Export value  1000 USD       5225
2383587  Export value  1000 USD       5225
2383588  Export value  1000 USD       5225
2383589  Export value  1000 USD       5225

                                                      Item  Year Flag  \
0                             Recovered post-consumer wood  2023    A
1        Printing and writing papers, uncoated, mechanical  2002    X
2        Printing and writing papers, uncoated, mechanical  2003    X
3        Printing and writing papers, uncoated, mechanical  2004    X
4        Printing and writing papers, uncoated, mechanical  2005    X
...                                                    ...   ...  ...
2383585  Secondary processed paper products (export/imp...  2019    E
2383586  Secondary processed paper products (export/imp...  2020    E
2383587  Secondary processed paper products (export/imp...  2021    E
2383588  Secondary processed paper products (export/imp...  2022    E
2383589  Secondary processed paper products (export/imp...  2023    E

             Value
0              0.0
1              0.0
2              0.0
3              0.0
4              0.0
...            ...
2383585  1313671.0
2383586  1251462.0
2383587  1442356.0
2383588  1648064.0
2383589  1598418.0

[2383590 rows x 11 columns]]

In [ ]:
print(df_FAOs_processed[0].head)
print(df_FAOs_processed[1].head)
print(df_FAOs_processed[2].head)

df_FAO_proc_env = df_FAOs_processed[0]
df_FAO_proc_prod = df_FAOs_processed[1]
df_FAO_proc_forest = df_FAOs_processed[2]

# export data to csv

<bound method NDFrame.head of         Area Code Area Code (M49)     Area  Months Code               Months  \
0               1            '051  Armenia         7001              January
1               1            '051  Armenia         7001              January
2               1            '051  Armenia         7001              January
3               1            '051  Armenia         7001              January
4               1            '051  Armenia         7001              January
...           ...             ...      ...          ...                  ...
572351       5873            '198     OECD         7020  Meteorological year
572352       5873            '198     OECD         7020  Meteorological year
572353       5873            '198     OECD         7020  Meteorological year
572354       5873            '198     OECD         7020  Meteorological year
572355       5873            '198     OECD         7020  Meteorological year

        Element Code             Element Unit  Year Flag  Value
0               6078  Standard Deviation   °c  1992    E  2.802
1               6078  Standard Deviation   °c  1993    E  2.802
2               6078  Standard Deviation   °c  1994    E  2.802
3               6078  Standard Deviation   °c  1995    E  2.802
4               6078  Standard Deviation   °c  1996    E  2.802
...              ...                 ...  ...   ...  ...    ...
572351          7271  Temperature change   °c  2020    E  1.394
572352          7271  Temperature change   °c  2021    E  1.592
572353          7271  Temperature change   °c  2022    E  1.235
572354          7271  Temperature change   °c  2023    E   1.71
572355          7271  Temperature change   °c  2024    E  2.409

[572356 rows x 11 columns]>
<bound method NDFrame.head of          Area Code Area Code (M49)  \
0                1            '051
1                1            '051
2                1            '051
3                1            '051
4                1            '051
...            ...             ...
4116247       5817            '902
4116248       5817            '902
4116249       5817            '902
4116250       5817            '902
4116251       5817            '902

                                                     Area  Element Code  \
0                                                 Armenia          5111
1                                                 Armenia          5111
2                                                 Armenia          5111
3                                                 Armenia          5111
4                                                 Armenia          5111
...                                                   ...           ...
4116247  Net Food Importing Developing Countries (NFIDCs)          5513
4116248  Net Food Importing Developing Countries (NFIDCs)          5513
4116249  Net Food Importing Developing Countries (NFIDCs)          5513
4116250  Net Food Importing Developing Countries (NFIDCs)          5513
4116251  Net Food Importing Developing Countries (NFIDCs)          5513

            Element     Unit  Item Code  \
0            Stocks       An        866
1            Stocks       An        866
2            Stocks       An        866
3            Stocks       An        866
4            Stocks       An        866
...             ...      ...        ...
4116247  Production  1000 No       1091
4116248  Production  1000 No       1091
4116249  Production  1000 No       1091
4116250  Production  1000 No       1091
4116251  Production  1000 No       1091

                                                  Item Item Code (CPC)  Year  \
0                                               Cattle          '02111  1992
1                                               Cattle          '02111  1993
2                                               Cattle          '02111  1994
3                                               Cattle          '02111  1995
4                                               Cattle          '02111  1996
...                                                ...             ...   ...
4116247  Eggs from other birds in shell, fresh, n.e.c.           '0232  2019
4116248  Eggs from other birds in shell, fresh, n.e.c.           '0232  2020
4116249  Eggs from other birds in shell, fresh, n.e.c.           '0232  2021
4116250  Eggs from other birds in shell, fresh, n.e.c.           '0232  2022
4116251  Eggs from other birds in shell, fresh, n.e.c.           '0232  2023

        Flag      Value
0          A   566452.0
1          A   498863.0
2          A   501635.0
3          A   503693.0
4          A   507512.0
...      ...        ...
4116247    E  4464004.0
4116248    E  6254689.0
4116249    E  6257105.0
4116250    E  6263398.0
4116251    E  6299404.0

[4116252 rows x 12 columns]>
<bound method NDFrame.head of          Area Code Area Code (M49)  \
0                1            '051
1                1            '051
2                1            '051
3                1            '051
4                1            '051
...            ...             ...
2383585       5817            '902
2383586       5817            '902
2383587       5817            '902
2383588       5817            '902
2383589       5817            '902

                                                     Area  Element Code  \
0                                                 Armenia          5510
1                                                 Armenia          5510
2                                                 Armenia          5510
3                                                 Armenia          5510
4                                                 Armenia          5510
...                                                   ...           ...
2383585  Net Food Importing Developing Countries (NFIDCs)          5922
2383586  Net Food Importing Developing Countries (NFIDCs)          5922
2383587  Net Food Importing Developing Countries (NFIDCs)          5922
2383588  Net Food Importing Developing Countries (NFIDCs)          5922
2383589  Net Food Importing Developing Countries (NFIDCs)          5922

              Element      Unit  Item Code  \
0          Production         t       1600
1          Production         t       1612
2          Production         t       1612
3          Production         t       1612
4          Production         t       1612
...               ...       ...        ...
2383585  Export value  1000 USD       5225
2383586  Export value  1000 USD       5225
2383587  Export value  1000 USD       5225
2383588  Export value  1000 USD       5225
2383589  Export value  1000 USD       5225

                                                      Item  Year Flag  \
0                             Recovered post-consumer wood  2023    A
1        Printing and writing papers, uncoated, mechanical  2002    X
2        Printing and writing papers, uncoated, mechanical  2003    X
3        Printing and writing papers, uncoated, mechanical  2004    X
4        Printing and writing papers, uncoated, mechanical  2005    X
...                                                    ...   ...  ...
2383585  Secondary processed paper products (export/imp...  2019    E
2383586  Secondary processed paper products (export/imp...  2020    E
2383587  Secondary processed paper products (export/imp...  2021    E
2383588  Secondary processed paper products (export/imp...  2022    E
2383589  Secondary processed paper products (export/imp...  2023    E

             Value
0              0.0
1              0.0
2              0.0
3              0.0
4              0.0
...            ...
2383585  1313671.0
2383586  1251462.0
2383587  1442356.0
2383588  1648064.0
2383589  1598418.0

[2383590 rows x 11 columns]>

9656 rows, 136 columns

# Wikipedia

In [ ]:
url = "https://en.wikipedia.org/wiki/List_of_countries_by_tariff_rate"
r = request.Request(url, headers={"User-Agent": "Mozilla/5.0"})

request_text = request.urlopen(r).read()
page = bs4.BeautifulSoup(request_text, "lxml")
print(page.find("title"))

In [ ]:
tableau_participants = page.find('table', {'class' : 'wikitable'})
table_body = tableau_participants.find('tbody')
rows = table_body.find_all('tr')

header_row1 = rows[0].find_all(['th', 'td'])
header_row2 = rows[1].find_all(['th', 'td'])

header1_text = [cell.get_text(strip=True) for cell in header_row1]
header2_text = [cell.get_text(strip=True) for cell in header_row2]

combined_headers = [header1_text[0]]
combined_headers.append(f"{header1_text[1]} - {header2_text[0]}")
combined_headers.append(f"{header1_text[1]} - {header2_text[1]}")
combined_headers.append(f"{header1_text[2]} - {header2_text[2]}")
combined_headers.append(f"{header1_text[2]} - {header2_text[3]}")
combined_headers.append(f"{header1_text[3]} - {header2_text[4]}")
combined_headers.append(f"{header1_text[3]} - {header2_text[5]}")

data_rows = rows[2:]

results = []
expected_cols = len(combined_headers)

for row in data_rows:
    cols = row.find_all(['th', 'td'])
    cols = [ele.text.strip() for ele in cols]

    if len(cols) > 3 and cols[3] == "EU member":
        if len(cols) >= 6:
            corrected_cols = cols[:4]
            corrected_cols.append(None)
            corrected_cols.append(cols[4])
            corrected_cols.append(cols[5] if len(cols) > 5 else None)
            cols = corrected_cols
        else:
             print(f"Warning: Row with 'EU member' has unexpected structure: {cols}")
             while len(cols) < expected_cols:
                cols.append(None)


    while len(cols) < expected_cols:
        cols.append(None)
    if len(cols) > expected_cols:
         print(f"Warning: Row still has more than {expected_cols} columns after processing: {cols}")
         cols = cols[:expected_cols]


    results.append(cols)

df = pd.DataFrame(data=results, columns=combined_headers)

display(df.head())
display(df[df['WTO[2][6] - Simple average applied MFN tariff, all products'] == 'EU member'].head())

In [ ]:
# clean headers to remove references, i.e [1]
df.columns = df.columns.str.replace(r'\[\d+\]', '', regex=True)
display(df.head())

In [ ]:
# Separate dataframes into 3
df_WB = df.iloc[:, :3].copy()

# col 1, 4, 5
df_WTO = df.iloc[:, [0, 3, 4]].copy()

# col 1, 6, 7
df_UNCTAD = df.iloc[:, [0, 5, 6]].copy()

# Replace empty strings with NaN to be recognized by dropna
df_WB.replace('', pd.NA, inplace=True)
df_WTO.replace('', pd.NA, inplace=True)
df_UNCTAD.replace('', pd.NA, inplace=True)

# remove rows where 2nd or 3rd col is empty
df_WB = df_WB.dropna(subset=[df_WB.columns[1], df_WB.columns[2]])
df_WTO = df_WTO.dropna(subset=[df_WTO.columns[1], df_WTO.columns[2]])
df_UNCTAD = df_UNCTAD.dropna(subset=[df_UNCTAD.columns[1], df_UNCTAD.columns[2]])

# shapes
print(df_WB.shape)
print(df_WTO.shape)
print(df_UNCTAD.shape)

# Display the new DataFrames
display(df_WB.head())
display(df_WTO.head())
display(df_UNCTAD.head())

In [ ]:
# what years are covered
df_WB = df_WB.rename(columns={'WB - Year': 'Year'})
df_WTO = df_WTO.rename(columns={'WTO - Year': 'Year'})
df_UNCTAD = df_UNCTAD.rename(columns={'UNCTAD - Year': 'Year'})

print(df_WB.columns)
print(df_WTO.columns)
print(df_UNCTAD.columns)
print("Years covered in WB data:")
print(df_WB['Year'].unique())

print("\nYears covered in WTO data:")
print(df_WTO['Year'].unique())

print("\nYears covered in UNCTAD data:")
print(df_UNCTAD['Year'].unique())

# WTO

In [ ]:
# https://apiportal.wto.org/signin
SUBSCRIPTION_KEY = ""

In [ ]:
# indicators
indicator_url = 'http://api.wto.org/timeseries/v1/indicators'

params = {
    'i': 'all',
    'fmt': 'json'
}

headers = {
    'Ocp-Apim-Subscription-Key': SUBSCRIPTION_KEY
}

print(f"Querying WTO API with parameters:\n{params}\n")

try:
    response = requests.get(indicator_url, params=params, headers=headers)

    # --- 4. CHECK THE RESPONSE ---
    if response.status_code == 200:
        print("Success! Data received.\n")
        # Convert the JSON response text into a Python dictionary
        data = response.json()
        print(data)

        # dataframe
        df_i = pd.DataFrame(data)
        print(df_i.head())

    else:
        # Print error details if something went wrong
        print(f"Error: {response.status_code}")
        print(f"Response content: {response.text}")

except requests.exceptions.RequestException as e:
    print(f"An error occurred with the request: {e}")

In [ ]:
# print all available indicators as markdown
print(df_i[['name', 'code']].to_markdown())

In [ ]:
import requests
import json

base_url = "https://api.wto.org/timeseries/v1/data"

params = {
    'i': 'HS_A_0010',  # Indicator
    'r': '840',         # EXAMPLE Reporter: USA
    'pc': 'HS4',
    'ps': '2023-2025',
    'fmt': 'json',      # Format: json
    'lang': '1'         # Language: 1 for English
}

headers = {
    'Ocp-Apim-Subscription-Key': SUBSCRIPTION_KEY
}

print(f"Querying WTO API with parameters:\n{params}\n")

try:
    response = requests.get(base_url, params=params, headers=headers)

    # --- 4. CHECK THE RESPONSE ---
    if response.status_code == 200:
        print("Success! Data received.\n")
        # Convert the JSON response text into a Python dictionary
        data = response.json()
        # print(data)

        # dataframe
        df_WTO_long = pd.DataFrame(data['Dataset'])
        # print(df_WTO_long.head())

        # simple dataframe
        df_WTO_long_simple = df_WTO_long[['ReportingEconomy', 'PartnerEconomy', 'Year', 'Value', 'ProductOrSectorCode', 'ProductOrSector']]
        print(df_WTO_long_simple.head())
        print(df_WTO_long_simple.shape)

    else:
        # Print error details if something went wrong
        print(f"Error: {response.status_code}")
        print(f"Response content: {response.text}")

except requests.exceptions.RequestException as e:
    print(f"An error occurred with the request: {e}")

# Inspect data

In [ ]:
# Harmonized system
print(df_HS.columns)

# OEC
print(df_exports.columns)
print(df_imports.columns)

# FAO
print(df_FAO.columns)

# Wiki
print(df_WB.columns)
print(df_WTO.columns)
print(df_UNCTAD.columns)

In [ ]:
df_map = {
    'df_HS': df_HS.columns.tolist(),
    'df_exports': df_exports.columns.tolist(),
    'df_imports': df_imports.columns.tolist(),
    'df_FAO_env': df_FAO_proc_env.columns.tolist(),
    'df_FAO_prod': df_FAO_proc_prod.columns.tolist(),
    'df_FAO_forest': df_FAO_proc_forest.columns.tolist(),
    'df_WB': df_WB.columns.tolist(),
    'df_WTO': df_WTO.columns.tolist(),
    'df_UNCTAD': df_UNCTAD.columns.tolist(),
    'df_WTO_long': df_WTO_long.columns.tolist(),
    'df_countries': df_countries.columns.tolist()
}

# --- 3. Create DataFrame from the dictionary ---
# Using orient='index' makes the dictionary keys (the DataFrame names) into the rows.
# Pandas will automatically fill with NaN where lists are shorter.
column_list_df = pd.DataFrame.from_dict(df_map, orient='index')

# --- 4. Clean up the table for better readability ---
# Rename the index
column_list_df.index.name = 'DataFrame Name'

# Rename the columns from 0, 1, 2... to Column 1, Column 2, Column 3...
column_list_df.columns = [f'Column {i+1}' for i in column_list_df.columns]

print("--- DataFrame Column List Table ---")
print(column_list_df)

# Optional: Print in a Markdown format which is often easier to read
print("\n--- Markdown Format ---")
# Replace NaN with an empty string for a cleaner look in markdown
print(column_list_df.to_markdown())

# transpose
column_list_df = column_list_df.transpose()

NameError: name 'df_HS' is not defined

In [ ]:
output_dir = Path("/content/drive/MyDrive/DALAS/data/processed")
output_dir.mkdir(parents=True, exist_ok=True)

output_path = output_dir / "dataframe_columns.csv"
column_list_df.to_csv(output_path)

print(f"DataFrame saved to {output_path}")